In [2]:
import pandas as pd

In [39]:
df = pd.DataFrame({'ID':['a','b','c'],
                  'measurement':[4,6,[2,3,8]],
                  'day':1})
df

  ID measurement  day
0  a           4    1
1  b           6    1
2  c   [2, 3, 8]    1

In [49]:
df.explode('measurement').reset_index(drop=True)

  ID measurement  day
0  a           4    1
1  b           6    1
2  c           2    1
3  c           3    1
4  c           8    1

In [47]:
print(df.explode('measurement').reset_index(drop=True).nunique())
print(df['ID'].unique())

ID             3
measurement    5
day            1
dtype: int64
['a' 'b' 'c']

In [38]:
df = pd.DataFrame({'ID':['a','b','c'],
                  'measurement':[4,6,[2,3,8]],
                  'day':1})

# inplace zamjena vrijednosti
df['ID'].where(df['ID']=='a', 'not a', inplace=True)
df

      ID measurement  day
0      a           4    1
1  not a           6    1
2  not a   [2, 3, 8]    1